/* Global styles */

#store #notice {
  color: #000;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller Arial;
  text-align: center;

  -moz-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
}


#store h1 {
  font:  190% Arial;
  color: #226;
  border-bottom: 3px dotted #77d;
}

/* Styles for products/index */

#product_list table {
  border-collapse: collapse;
}

#product_list table tr td {
  padding: 5px;
  vertical-align: top;
}

#product_list .list_image {
  width:        60px;
  height:       70px;
}

#product_list .list_description {
  width:        60%;
}

#product_list .list_description dl {
  margin: 0;
}

#product_list .list_description dt {
  color:        #244;
  font-weight:  bold;
  font-size:    larger;
}

#product_list .list_description dd {
  margin: 0;
}

#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#product_list .list_line_even {
  background:   #e0f8f8;
}

#product_list .list_line_odd {
  background:   #f8b0f8;
}

/* An entry in the store catalog */

#store  .entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #77d;
}

#store  .title {
  font-size: 120%;
  font-family: Arial;
}

#store .entry img {
  width: 80px;
  height: 100px;
  margin-right: 5px;
  margin-bottom: 5px;
}


#store .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #227;
  font-size: 18px;
}

#store .entry p {
  margin-top: 0.5em; 
  margin-bottom: 0.8em; 
}

#store .entry .price_line {
  clear: both;
  margin-bottom: 0.5em;
}

#store .entry .add_to_cart {
  position: relative;
}

#store .entry .price {
  color: #44a;
  font-weight: bold;
  font-size: 17px;
  float: left;
  width: 90px;
  padding: 5px;
}

#store .entry .inventory {
  color: gray;
  font-weight: bold;
  font-size: 13px;
  float: left;
  width: 80px;
  padding: 5px;
}

/* Styles for main page */
#banner {
  background-color: #9c9;
  height:50px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", Arial;
  color: #282;
  text-align: center;
}

#banner img {
  float: left;
}

#columns {
  background: #141;
}

#main {
  padding-top: 0ex;
  padding-left: 2em;
  background-image: url(../images/wood-bg.jpg) ;
  min-height: 680px;
  /* background: white; */
}

#side {
  float: left;
  padding: 1em;
  width: 15em;
  background: #141;
}

#side a {
  color: #bfb;
  font-size: small;
}

#store .entry form, #store .entry form div {
  display: inline;
}

/* mian page 的cart样式*/
#store .cart_title{
  font: 200% bold;
}

#store .item_price, #store .title_line{
  text-align: right;
}

#store .total_line .total_cell{
  font-weight:bold;
  border-top:1px solid #595;
}

/*Styles for the cart in the sidebar*/
#cart, #cart table {
  font-size: smaller;
  color: white;
}

#cart table {
  border-top: 1px dotted #595;
  border-bottom: 1px dotted #595;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*cart display*/
.cart_detail{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:800px;
  border-collapse:collapse;
}

.cart_detail td, #cart .cart_detail th{
  font-size:1em;
  /*border:1px solid #98bf21;*/
  padding:3px 7px 2px 7px; 
}

.cart_detail th 
{
  font-size:1.1em;
  text-align:center;
  padding-top:5px;
  padding-bottom:4px;
  background-color: #EAF2D3;
  color: #000000;
}

.cart_detail tr.alt_even td 
{
  text-align:center;
  background-color:#EAF2D3;
}

.cart_detail tr.alt_odd td 
{
  text-align:center;
  background-color:#ffffff;
}

.cart_detail img {
  width: 60px;
  height: 80px;
  margin: 10px 10px 10px 20px;
  float: left;
}

/*order display*/
.order_detail{
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  width:700px;
  border-collapse:collapse;
}

.order_detail td, #order .order_detail th{
  font-size:1em;
  /*border:1px solid #98bf21;*/
  padding:3px 7px 2px 7px; 
}

.order_detail th 
{
  font-size:1.1em;
  text-align:center;
  padding-top:5px;
  padding-bottom:4px;
  background-color: #EAF2D3;
  color: #000000;

  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;
}


.order_detail tr.alt_even td 
{
  text-align:center;
  background-color:#EAF2D3;
  height: 80px;
}

.order_detail tr.alt_odd td 
{
  text-align:center;
  background-color:#ffffff;
}

.order_detail tr.imfo td 
{
  text-align:center;
  background-color:#f9fcb5;
}

.order_detail td.shipped 
{
  text-align:center;
  background-color:#f9fcb5;
  color: #807f7e
}

.order_detail img {
  width: 60px;
  height: 80px;
  margin: 10px 10px 10px 20px;
  float: left;
}

/*product display*/
.comment{
    padding-top:10px;
    padding-bottom:10px;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:20px;
    color: #227;
}
.product_detail{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    width:1000px;
    border-collapse:collapse;
}

.product_detail th{
  font-size:1.1em;
    text-align:left;
    padding-top:5px;
    padding-bottom:4px;
    background-color: #EAF2D3;
    color: #000000;
}

/*international*/
.locale {
  float: right;
  padding-top: 0.4em;
}

/*serach*/
.search {
  float: right;
  padding-top: 0.0em;
  padding-bottom: 0em;
  margin-right: 10px;

}

#cart tr {
  display: inline-block;
}

#current_item input, .line_item input {
  display: inline-block;
  width: 40px;
}

.line_item, #current_item {
  cursor: move;
}

.item_quantity {
  cursor: text;
  width: 40px;
}

.item_title {
  width: 100px;
}

.hidden {
  display: none;
}

.total {
  width: 144px;
}

.button_to input, .button input, .need_to_login {
  display: inline-block;
  zoom: 1;
  display: inline;
  vertical-align: baseline;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font: 14px/100% Arial, Helvetica, sans-serif;
  padding: .5em 2em .55em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em; 
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);

  /* size */
  font-size: 12px;
  padding: .4em 1.0em .42em;

  /* color */
  color: #e8f0de;
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

.button_to input:hover, .button input:hover, .need_to_login:hover {
  text-decoration: none;

  /* color */
  background: #538018;
  background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
  background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}

.button_to input:active, .button input:active, .need_to_login:active {
  position: relative;
  top: 1px;

  /* color */
  color: #a9c08c;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
  background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

#checkout, #empty {
  overflow: hidden;
}

#checkout {
  float: right;
}

#empty {
  float: left;
}

#checkout form, #empty form {
  overflow: hidden;
}

.empty_cart td {
  text-align: center;
  width: 15em;
}

.lavalamp {
  margin-left: -2em;
  border: 1px solid #d6d6d6;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  background : -webkit-gradient(linear, left top, left bottom, from(rgb(240,240,240)), to(rgb(204,204,204)));
  background : -moz-linear-gradient(top, rgb(240,240,240), rgb(204,204,204));
  overflow: hidden;
}

ul {
  float: left;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul li {
  list-style: none;
  text-align: center;
  float: left;
  border-left: 1px solid rgba(0,0,0,0.3);
  border-right: 1px solid rgba(255,255,255,0.3);
}

ul li:first-child {
  border-left: none;
}

ul li a, ul li #to_logout {
  display: inline-block;
  width: 60px;
  padding: 11px;

  font-family: Georgia;
  font-size: 14px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.40);
  text-decoration: none;
}

ul li a:hover, ul li #to_logout:hover {
  cursor: pointer;
  background: #64991e;
}

.green {
  color: #e8f0de;
  border: solid 1px #538312;
  background: #64991e;
  background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
  background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}

#logout {
  display: none;
}

.form_content {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  min-height: 160px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;

  overflow: hidden;
}

.form_content .form_item {
  width: 300px;
  margin: auto;
}

.form_content .form_item label {
  display: inline-block;
  width: 65px;

  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;
}

.form_content .form_item input {
  display: inline-block;
  width: 200px;

  margin: 10px;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;

  border: 1px #ddd solid;
  padding: 2px;

  -webkit-box-shadow: 0px 0px 4px #aaa;
  -moz-box-shadow: 0px 0px 4px #aaa; 
  box-shadow: 0px 0px 4px #aaa;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.form_content .form_item textarea {
  resize: none;
  display: inline-block;
  width: 270px;

  margin: 10px;
  -moz-opacity: 0.5;
  -webkit-opacity: 0.5;
  opacity: 0.5;

  border: 1px #ddd solid;
  padding: 2px;

  -webkit-box-shadow: 0px 0px 4px #aaa;
  -moz-box-shadow: 0px 0px 4px #aaa; 
  box-shadow: 0px 0px 4px #aaa;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.form_content .form_item select {
  margin: 10px;
}

.form_content .form_item input:focus,
.form_content .form_item textarea:focus {
  box-shadow: 0px 0px 10px #538018;
}

.button {
  margin-top: 15px;
  text-align: center;
}

.form_title {
  font-family: Georgia;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.40);
  text-decoration: none;
  text-align: center;

  width: 200px;
  position: relative;
  top: -25px;
  left: -30px;

  color: #e8f0de;
  border: solid 1px #538312;
  background: #64991e;

  z-index: 100;
  -moz-transform:translate(-40px,45px) rotate(-45deg);
  -webkit-transform:translate(-40px,45px) rotate(-45deg);
  -o-transform:translate(-40px,45px) rotate(-45deg);
  transform:translate(-40px,45px) rotate(-45deg);
  -moz-box-shadow:0 0 5px rgba(0,0,0,.5),inset 0 0 2px #fff;
  -webkit-box-shadow:0 0 5px rgba(0,0,0,.5),inset 0 0 2px #fff;
  box-shadow:0 0 5px rgba(0,0,0,.5),inset 0 0 2px #fff;
}

.form_content .loginBox input {
  width: 180px;
}

#searchBox, #searchButton {
  float: right;
  display: inline-block;
  margin: 0;
  padding: 0;
}

#searchBox input {
  height: 18px;
  width: 250px;
  margin-top: 6px;
  padding: 5px;
  border: none;

  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity: 0.8;

  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

#searchButton {
  margin-top: 6px;
  height: 28px;
  width: 40px;

  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;

  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);

  background: #1F7A1F;
  background: -webkit-gradient(linear, left top, left bottom, from(#1F7A1F), to(#0D4D0E));
  background: -moz-linear-gradient(top,  #1F7A1F,  #0E4D0E);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#1F7A1F', endColorstr='#0D4D0E');
}

#searchButton img {
  height: 25px;
  width: 25px;
  margin-top: 1px;
  margin-left: 7px;
}

#searchButton:hover {
  cursor: pointer;

  /* color */
  background: #156315;
  background: -webkit-gradient(linear, left top, left bottom, from(#116B11), to(#073907));
  background: -moz-linear-gradient(top,  #116B11,  #073907);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#116B11', endColorstr='#073907');
}

#searchButton:active {
  position: relative;
  top: 1px;

  /* color */
  color: #a9c08c;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
  background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

.entry_pic {
  float: left;
  overflow: hidden;
}

.entry_info {
  clear: left;
}

h1 span {
  color: rgb(51, 51, 51);
  font-size: 13px;
  margin-left: 15px;
}

.label a {
  display: inline-block;
  text-decoration: none;
  padding: 1px;
  color: #1F7A1F;
  background-color: #8EDC28;
  border-right: 1px solid #3B6A00;
  border-bottom: 1px solid #2B4A03;
  margin-right: 2px;
}

.label a:visited {
  color: #1F7A1F;
  background-color: #8EDC28;
}

.label a:hover {
  color: #8EDC28;
  background-color: #1F7A1F;
}

.category p {
  color: rgb(34, 34, 119);
  font-size: 18px;
}

h3 span {
  color: #44A;
  font-size: 14px;
}

.choice {
  background-color: yellow;
}

.loginButton {
  float: right;
  margin-right: 150px;
}

.registerButton {
  float: left;
  margin-left: 150px;
}
