<h1>Editing user</h1>

<%= render 'form' %>

<br />
<br />

<% if User.find_by_id(session[:user_id]).name == "admin" %>
  <%= link_to 'Show', @user %> |
  <%= link_to 'Back', users_path %>
<% else %>
  <%= link_to 'Back', admin_path %>
<% end %>
