<div class="depot_form">
	<div class="form_content">
		<div class="form_title">Order</div>
		<%= render 'form'%>
	</div>
</div>

<br />
<br />

<%= link_to 'Show', @order %> |
<%= link_to 'Back', orders_path %>
