<div class="depot_form">
	<div class="form_content">
		<div class="form_title">Order</div>
		<%= render 'form'%>
	</div>
</div>

<br />
<br />

<%= link_to t('.Show'), @order %> |
<%= link_to t('.Back'), orders_path %>
