<h1><%= t('.My Categories') %></h1>

<div>
  <% for category in @categories %>
    <div class="category">
       <p><%= category.name %></p>
    </div>
    <div class="label">
    <% for cate in @labels[category] %>
      <%= link_to (cate), {:controller => "subcategories", :action => "index",:subcate => cate } %>
    <% end %>
    </div>
  <% end %>
</div>

<br />

