<h1><%= t('.My Categories') %></h1>

<div>
  
  <% @categories.each do |category| %>
  <div>
     <p><%= category.name %></p>
  </div>
  <div>
   <% @subcategories.each do |subcategory|%>
       <% if subcategory.parent == category.name%>
            <!--<p><%= subcategory.name %><p>-->
            <%= link_to ((subcategory.name), {:controller => "subcategories", :action => "index", :subcate => subcategory.name} )%>    
       <% end %>
  <% end %>
  </div>
   <% end %>
</div>

<br />