<h1>My Categories!</h1>

<div>
  
  <% @categories.each do |category| %>
  <div>
     <p><%= category.name %></p>
  </div>
  <div>
   <% @subcategories.each do |subcategory|%>
       <% if subcategory.parent == category.name%>
            <!--<p><%= subcategory.name %><p>-->
            <%= link_to ((subcategory.name), {:controller => "subcategories", :action => "index", :subcate => subcategory.name} )%>    
       <% end %>
  <% end %>
  <% @products.each do |product|%>
       <% if product.category == category.name%>
           <%allcates = product.cate.split(";") %>
           <%for cate in allcates%>
               <%if cate != nil%>
                  <%= link_to (cate), {:controller => "subcategories", :action => "index",:subcate => cate } %>
               <%end%>
           <%end%>    
       <% end %>
  <% end %>
  </div>
   <% end %>
</div>

<br />

