<h1>Listing categories</h1>

<div id = "view">
  
  <% @categories.each do |category| %>
  <div id = "cate">
     <p><%= category.name %></p>
  </div>
  <div id = "sub">
   <% @subcategories.each do |subcategory|%>
       <% if subcategory.parent == category.name%>
            <!--<p><%= subcategory.name %><p>-->
            <%= link_to ((subcategory.name), {:controller => "subcategories", :action => "index", :subcate => subcategory.name} )%><br />

            

       <% end %>
  <% end %>
  </div>
   <% end %>
</div>

<br />

<%= link_to 'New Category', new_category_path %>
