<div class="depot_form">
  <div class="form_content">
    <div class="form_title">Product</div>
    <%= render 'form' %>
  </div>
</div>

<br />
<br />

<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
